In [1]:
print(10 * 7)

70

In [2]:
print('Hi, everyone')

Hi, everyone

In [3]:
print("Hi, everyone")

Hi, everyone

In [4]:
a = 2022
print(a)

2022

In [5]:
b = '여러분'
print(b + '안녕하세요!')

여러분안녕하세요!

In [6]:
c = '새해'
print(a, '년에도' + c + '복 많이 받으세요!')

2022 년에도새해복 많이 받으세요!

In [7]:
name = input('이름을 입력하세요: ')
print(name + '님 안녕하세요!')

이름을 입력하세요: 김인삼
김인삼님 안녕하세요!

In [8]:
birth = input('출생 연도를 입력하세요: ')
print(2022 - int(birth), '세이시군요!')

출생 연도를 입력하세요: 2003
19 세이시군요!

In [9]:
birth = input('출생 연도를 입력하세요: ')
print(2022 - birth, '세이시군요!')

출생 연도를 입력하세요: 2003

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [10]:
name = input('이름을 입력하세요: ')
birth = input('출생 년도를 입력하세요 : ')
age = 2022 - input(birth)
print('안녕하세요!' + name + '님!' + str(age) + '세이시군요!')

이름을 입력하세요: 김수미
출생 년도를 입력하세요 : 2003
2003

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [11]:
name = input('이름을 입력하세요: ')
birth = input('출생 년도를 입력하세요 : ')
age = 2023 - int(birth)
print('안녕하세요!' + name + '님!' + str(age) + '세이시군요!')

이름을 입력하세요: 김수미
출생 년도를 입력하세요 : 2003
안녕하세요!김수미님!20세이시군요!

In [12]:
print(3 + 4)
print(3 - 4)
print(3 * 4)
print(3 ** 4)
print(3 % 4)
print(3 / 4)
print(3//4)

7
-1
12
81
3
0.75
0

In [13]:
print(3 > 4)
print(3 >= 4)
print(3 < 4)
print(3 <= 4)
print(3 == 4)
print(3 != 4)

False
False
True
True
False
True

In [15]:
print((3 > 4) and (2 < 8))
print(((8 % 2) == 0) or (((3%2) == 0)))

False
True

In [17]:
import random
dice = random.randint(1, 6)
print(dice)

5

In [18]:
import math
print(math.sqrt(2))
print(math.sqrt(4))

1.4142135623730951
2.0

In [19]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [20]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [21]:
test_score = [80, 70, 90, 100]
for score in test_score:
    print(score)

80
70
90
100

In [22]:
test_name = ['국어', '영어', '수학', '과학']
for name in test_name:
    print(name)

국어
영어
수학
과학

In [23]:
if (10 > 0):
    print('안녕하세요!')

안녕하세요!

In [27]:
password = input('패스워드를 입력하세요!')
if(int(password) == 12345):
    print('로그인되었습니다.')
elif(int(password) == 11111):
    print('관리자 권한입니다')
else:
    print('로그인에 실패하였습니다')

패스워드를 입력하세요!11111
관리자 권한입니다

In [28]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2[0])
print(arr2[1])
print(arr2[2])
print(arr2[3])
print(arr2[4])
print(arr2[5])

월
화
수
목
금
토

In [29]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2[0:2])
print(arr2[1:4])
print(arr2[1:])
print(arr2[4:])
print(arr2[5:])

['월', '화']
['화', '수', '목']
['화', '수', '목', '금', '토']
['금', '토']
['토']

In [30]:
arr1 = [1, 2, 3, 4, 5]
print(arr1)
print(len(arr1))
arr1.append(6)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [31]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2)
print(len(arr2))
arr2.append('일')
print(arr2)
print(len(arr2))

['월', '화', '수', '목', '금', '토']
6
['월', '화', '수', '목', '금', '토', '일']
7

In [32]:
arr1 = [1, 2, 3, 4, 5]
print(type(arr1))

<class 'list'>

In [33]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(type(arr2))

<class 'list'>

In [39]:
a = input(' 첫번째 숫자를 입력하세요 : ')
b = input('두번째 숫자를 입력하세요 : ')

if( a > b ):
    print(a)
elif(a < b):
    print(b)
elif(a == b):
    print('동일한 숫자 입니다!')

 첫번째 숫자를 입력하세요 : 2
두번째 숫자를 입력하세요 : 1
2